<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>车辆品牌</title>
    <link rel="icon" href="../lib/img/car.gif" />
</head>

<body>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">添加品牌</h4>
            </div>
            <br />

            <div class="panel-body form-inline">
                <label>Id：<input type="text" class="form-control" v-model="id" /></label>
                <label>名称：
                    <input type="text" class="form-control" v-model="name" @keyup.enter="add" v-focus v-color="'red'" />
                </label>
                <!-- <label>时间：
              <input type="time" class="form-control" v-model="time"/>
            </label>  -->
                &nbsp;
                <input type="button" value="添加" class="btn btn-primary" @click="add" />&nbsp;
                <input type="button" value="查询" class="btn btn-primary" @click="query(id,name,time)" />&nbsp;
                <input type="button" value="重置" class="btn btn-primary" @click="clear" />
            </div>
        </div>
        <br />

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in list" :key="item.id">
                    <!-- <tr v-for="item in query(id,name,time)" :key="item.id"> -->
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <!-- 过滤器只能在v-bind和mustachc中使用  用于文本格式化 -->
                    <td>{{item.time | dateFormat('yyyy-MM-DD')}}</td>
                    <td>
                        <a href="" @click.prevent="del(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <p :style="{color:'red'}">列表实例</p>
        <br />
    </div>

    <div id="app2">
        <h4 v-privatecolor="'blue'" v-fontsize="20"> {{dt | dateFormat('') }}</h4>
    </div>
</body>
<script src="../lib/js/vue.js"></script>
<script src="../lib/js/vue-resource.js"></script>
<link rel="styleSheet" href="../lib/css/bootstrap.css" />

<!-- --------------------------------------------js---------------------------------------------- -->
<script>
    //时间格式化公共方法
    function FormDataResult(dataStr, pattern = "") {
        console.log(dataStr + " ;" + pattern);

        //padStart填充字符(maxLength,String=' ')
        var dt = new Date(dataStr);
        var y = dt.getFullYear();
        var m = (dt.getMonth() + 1).toString().padStart(2, "0");
        var d = dt.getDate().toString().padStart(2, "0");
        if (pattern && pattern.toLowerCase() === "yyyy-mm-dd") {
            // return y + "-" + m + "-" + d;
            return `${y}-${m}-${d}`;
        } else {
            var hh = dt.getHours().toString().padStart(2, "0");
            var mm = dt.getMinutes().toString().padStart(2, "0");
            var ss = dt.getSeconds().toString().padStart(2, "0");
            // return y + "-" + m + "-" + d + " " + hh + ":" + mm + ":" + ss;
            return `${y}-${m}-${d} ${hh}:${mm}:${ss}`;
        }
    }

    Vue.filter("dateFormat", function (dataStr, pattern) {
        return FormDataResult(dataStr, pattern);
    });

    //===================================================自定义指令
    //获取焦点指令
    Vue.directive('focus', {
        //第一个参数永远是el，是原生的js对象
        bind: function (el) {
            //不能触发，插入dom之后才能触发
            // el.focus()
        },
        inserted: function (el) {
            //只触发一次；
            // el.focus()
        },
        updated: function (el) {
            el.focus()
        }
    })

    //自定义颜色指令
    Vue.directive('color', {
        bind: function (el, binding) {
            // el.style.color = 'red'
            el.style.color = binding.value
        }
    })

    //创建根目录
    Vue.http.options.root='http://vue.studyit.io/api/';
    // 全局配置
    Vue.http.options.emulateJSON = true;

    var vm = new Vue({
        el: "#app",
        data: {
            id: "",
            name: "",
            time: "",
            list: [
                { id: 1, name: "宝马", time: new Date() },
                { id: 2, name: "玛莎拉蒂", time: new Date() },
                { id: 3, name: "法拉利", time: new Date() },
            ],
        },
        created() {
            //当vm示例的data methods初始化后，自动执行
            this.getAllLists();
        },
        methods: {
            getAllLists() {
                //获取所有的数据
                this.$http.get('gitprodlist').then(result => {
                    var result = result.body;
                    if (result.status === 0) {
                        this.list = result.massage
                    } else {
                        alert('数据获取失败')
                    }
                })

            },
            add() {
                var car = { id: this.id, name: this.name, time: new Date() };
                console.log(car);
                this.list.push(car);
            },
            del(id) {
                this.list.some((item, i) => {
                    if (item.id == id) {
                        this.list.splice(i, 1);
                        return true;
                    }
                });
            },
            query(id, name, time) {
                console.log(" id:" + id + " name:" + name + " time:" + time);
                //注意：forEach filter findIndex some 属于数组新方法；会遍历数组中每一个元素，来进行相关操作

                // forEach进行操作
                // var newList = [];
                // this.list.forEach((item) => {
                //   if (item.name.indexOf(name) != -1) {
                //     newList.push(item);
                //   }
                // });
                // return newList;

                // filter
                //   return this.list.filter((item) => {
                //     if (item.name.includes(name)) {
                //       return item;
                //     }
                //   });

                var result = this.list.filter((item) => {
                    if (item.name.includes(name)) {
                        return item;
                    }
                });
                console.log(result);
                return (this.list = result);
            },
            clear() {
                this.id = null;
                this.name = null;
                this.time = null;
            },
        },
    });

    var vm2 = new Vue({
        el: "#app2",
        data: { dt: new Date() },
        methods: {},
        filters: {
            dateFormat: function (dataStr, pattern) {
                return FormDataResult(dataStr, pattern);
            },
        },
        //私有自定义指令
        directives: {
            //颜色
            privatecolor: {
                bind: function (el, binding) {
                    el.style.color = binding.value
                }
            },

            //简写  function等同于bind和update中去
            //字体大小
            fontsize: function (el, binding) {
                el.style.fontSize = parseInt(binding.value) + 'px'
            }
        }
    });
</script>

</html>